.header{
    text-align:center;
}
h1.header{
    font-size:300%;
    color:blueviolet;
}
.fold{
    float:left;
    padding:5px;
}
h2{
    text-align: center;
}
.sidebar{
    float:right;
    width: 60%;
    background-color: chocolate;
    border: 5px solid red;

}

